html {
    min-height:100%;
    overflow-x:hidden;
    overflow-y:scroll;
    position:relative;
    width:100%;
}
body {
    color:#000;
    font-weight:100;
    margin:0;
    width:100%;
    min-height:100%;
}

#select_actor .form-control {
    width: 40%;
}