<!DOCTYPE html>
<html lang="en" ng-app="MoviesApp">

<head>
    <meta charset="UTF-8">
    <title>Movie Recommendations</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href= "../../static/moviestats/style/style.css">

    <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src = "../../static/moviestats/js/movies_script.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.3.3/ui-bootstrap-tpls.min.js"></script>


</head>


<body ng-controller="mainController" >

<nav id="navbar" class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Movies Recommendation</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home <span class="sr-only">(current)</span></a></li>
        <li><a href="" ng-click="update()"> Update </a></li>
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div id="home">

    <div id="prefer_form">

        <form ng-submit="submit()" id="preferences">

            <div id="form_columns">
                <div id="person_properties" class="form-group">

                    <h4> Actors and Director Properties</h4>

                     <p id="select_top_actors">

                         <label>
                               <input type="checkbox" id="top_actors" ng-model="formData.top_actors" ng-disabled="formData.actor || formData.most_varied_actor"
                                 ng-required="!formData.selected_actor">
                              Select movies starring the top 10 actors
                         </label>

                    </p>

                    <p id="select_most_varied_actor">

                        <label>
                            <input type="checkbox" id="most_varied_actor" ng-model="formData.most_varied_actor" ng-disabled="formData.actor || formData.top_actors"
                                   ng-required="!formData.selected_actor">
                            Select movies starring the most genre-varied actor
                        </label>

                    </p>

                    <span>Or</span>
                    <p id="select_actor_div">
                        <label for="select_actor">
                            Choose actor:
                        </label>

                        <input type="text" id="select_actor" class="form-control" ng-model="formData.actor"
                               uib-typeahead="a.actor for a in actors | filter:$viewValue | limitTo:8" ng-disabled="formData.top_actors || formData.most_varied_actor">

                    </p>

                    <p id="select_director">
                        <label >
                            Choose director:
                        </label>
                        <input type="text" class="form-control" ng-model="formData.director"
                               ng-required="!formData.actor"
                               uib-typeahead="a.director for a in directors | filter:$viewValue | limitTo:8" ng-disabled="formData.top_actors || formData.most_varied_actor">
                    </p>


                </div>

                <div id="film_properties" class="form-group">

                    <p>
                        <h4> Film Properties</h4>
                    </p>

                    <p id="select_genre">
                        <label for="select_genre">
                            Choose preferred genre :
                        </label>
                        <br>
                        <select ng-model="formData.film_genre" ng-options="x.genre for x in genres" form="preferences"
                                ng-required = "!formData.film_location && !formData.film_language && !formData.rating"
                                 ng-disabled="formData.top_actors || formData.most_varied_actor">

                            <option value="" selected > Genres </option>
                        </select>
                    </p>

                    <p id="select_movie_location">
   
                        <label for="movie_location">
                            Film Location
                        </label>
                        <input id="movie_location" type="text" class="form-control" ng-model="formData.film_location" maxlength="30"
                               ng-required = "!formData.film_language && !formData.film_genre && !formData.rating"
                               uib-typeahead="x.country for x in countries | filter:$viewValue | limitTo:8" ng-disabled="formData.top_actors || formData.most_varied_actor">

                    </p>

                    <p id="film_language_p">
                        <label for="film_language">
                            Film Language
                        </label>

                        <input id="film_language" type="text" class="form-control" ng-model="formData.film_language" maxlength="30"
                               uib-typeahead="x.language for x in languages | filter:$viewValue | limitTo:8" ng-disabled="formData.top_actors || formData.most_varied_actor">
                    </p>

                    <p id="imdb">

                        <p>
                            <label for="imdb_rating">
                                Film IMDb Rating
                            </label>
                        </p>

                       <input id="imdb_rating" type="number" ng-model="formData.rating"  min="0" max="10"
                              ng-disabled="formData.top_actors || formData.most_varied_actor">

                    </p>

                    <p id="youtube_views">

                        <p>
                            <label for="youtube_min_views">
                                Minimal number of views in YouTube
                            </label>
                        </p>
                        <input id="youtube_min_views" type="number" ng-model="formData.min_views"
                               ng-required="!formData.imdb_rating && !formData.film_genre" ng-disabled="formData.top_actors || formData.most_varied_actor">

                    </p>

                    <p id="max_likes">
                            <label>

                                <input id="youtube_max_likes" type="checkbox" ng-model="formData.max_likes"
                                 ng-disabled="formData.top_actors || formData.most_varied_actor">
                                Choose most popular film (by likes)
                            </label>


                    </p>
                </div>

                <div id="submit_result">
                    <input type="submit" ng-disabled="showResults" value="Show Trailers" class="btn btn-primary" >
                </div>

            </div>

        </form>

    </div>

    <div id="show_results" ng-show="showResults">
        <table>

            <tr>
                <td>
                    <div id="trailers">
                        <iframe id="youtube_iframe" width="560" height="315"  frameborder="0" allowfullscreen></iframe>
                    </div>
                </td>
                <td class="col-md-6">
                    <table id="results_table">
                        <tr id="buttons">
                            <td>

                                <button id="previous" type="button" class="btn btn-primary"
                                        ng-disabled="show_item == 0" ng-click="click_previous()">Previous</button>

                                <button id="next" type="button" class="btn btn-primary"
													ng-disabled="show_item == ret_length-1"                                        
                                        ng-click="click_next()">Next</button>

                            </td>
                        </tr>
                        <tr class="col-md-6">
                            <table ng-repeat="result in results_contents" ng-show="show_item == $index" width="80%">

                                <tr id="titles">
                                
                                		<th>
                                        Film number:
                                    </th>
                                    <th ng-if="result.title != null">
                                        Film name:
                                    </th>
                                    <th ng-if="result.actor != null">
                                        Starring actor:
                                    </th>
                                    
                                    <th ng-if="result.director != null">
                                        Film Director:
                                    </th>
                                    <th ng-if="result.rating != null">
                                        Film IMDb Rating:
                                    </th>
                                    <th ng-if="result.likes != null">
													Trailer #likes                                    
                                    </th>
                                    <th ng-if="result.view_count != null">
                                       Trailer #views
                                    </th>

                                </tr>
                                <tr id="values">
                                
                                		<td>
                                        <span ng-if="result.title != null" ng-bind="show_item"></span>
                                    </td>

                                    <td>
                                        <span ng-if="result.title != null" ng-bind=result.title></span>
                                    </td>

                                    <td>
                                         <span ng-if="result.actor != null" ng-bind=result.actor></span>
                                    </td>
                                    
                                    <td>
                                         <span ng-if="result.director != null" ng-bind=result.director></span>
                                    </td>

                                    <td>
                                         <span ng-if="result.rating != null" ng-bind=result.rating></span>
                                    </td>
                                    
                                    <td>
                                        <span ng-if="result.likes != null" ng-bind=result.likes></span>
                                    </td>

                                    <td>
                                         <span ng-if="result.view_count != null" ng-bind=result.view_count></span>
                                    </td>

                                    <td>
                                        <span ng-if="result.country != null" ng-bind=result.country></span>
                                    </td>
                                    
                                </tr>
                               

                            </table>
                        </tr>

                    </table>
                </td>
            </tr>

        </table>
        
        <div>
           <h2> <a href="/"> Make another search</a></h2>
        </div>
    </div>

</div>


</body>

</html>














