<!DOCTYPE html>
<html lang="en" ng-app="MoviesApp">

<head>
    <meta charset="UTF-8">
    <title>Movie Recommendations</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href= "{{ url_for('static',filename='style/style.css') }}">

    <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src = "{{ url_for('static',filename='js/movies_script.js') }}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.3.3/ui-bootstrap-tpls.min.js"></script>


</head>


<body ng-controller="mainController" >

<div id="home">
    <h1> Movies Recommendations </h1>

    <div id="prefer_form" class="form-group">

        <form ng-submit="submit()" id="preferences">

            <div id="form_columns">
                <div id="person_properties">

                    <h4> Actors and Director Properties</h4>

                    <p id="select_actor_div">
                        <label for="select_actor">
                            choose actor:
                        </label>

                        <input type="text" id="select_actor" class="form-control" ng-model="selected_actor" maxlength="30"
                               uib-typeahead="a.name for a in actors | filter:$viewValue | limitTo:8">
                    </p>

                    <p id="select_age">

                        <label>
                            Choose birth year of the movie's actors
                        </label>
                        <br>

                        <select  ng-model="selected_age" ng-disabled="selected_actor"
                                 ng-options="actor.year for actor in actors" form="preferences">
                            <option value="" selected > Year </option>
                        </select>
                    </p>

                    <p id="select_country">
                        <label>
                            choose the birth place of the film's actors
                        </label>
                        <br>

                        <select ng-model="selected_country" ng-disabled="selected_actor" maxlength="30"
                                ng-options="actor.country for actor in actors" form="preferences" >

                            <option value="" selected > Country </option>
                        </select>

                    </p>
                    <p id="select_director">
                        <label >
                            choose director:
                        </label>
                        <input type="text" class="form-control" ng-model="selected_direcor" maxlength="30"
                               uib-typeahead="a.name for a in actors | filter:$viewValue | limitTo:8" >
                    </p>


                </div>

                <div  id="film_properties">

                    <p>
                        <h4> Film Properties</h4>
                    </p>

                    <p id="select_genre">
                        <label for="select_genre">
                            Choose preferred genre :
                        </label>
                        <br>
                        <select ng-model="selected_genre" ng-options="genre for genre in genres" form="preferences" >

                            <option value="" selected > Genres </option>
                        </select>
                    </p>

                    <p id="select_movie_location">

                        <label for="movie_location">
                            Film Location
                        </label>
                        <input id="movie_location" type="text" class="form-control" ng-model="selected_film_location" maxlength="30"
                               uib-typeahead="country for country in countries | filter:$viewValue | limitTo:8">

                    </p>

                    <p id="film_language_p">
                        <label for="film_language">
                            Film Language
                        </label>

                        <input id="film_language" type="text" class="form-control" ng-model="selected_film_language" maxlength="30"
                               uib-typeahead="language for language in languages | filter:$viewValue | limitTo:8">
                    </p>

                    <p id="youtube_views">

                        <p>
                            <label for="youtube_min_views">
                                Minimal number of views in YouTube
                            </label>
                        </p>
                        <input id="youtube_min_views" type="number" ng-model="selected_min_views">

                    </p>

                    <p id="max_likes">

                        <span>
                            <label for="youtube_max_likes">
                                Choose most popular film (by likes)
                            </label>
                        </span>
                        <span>
                            <input id="youtube_max_likes" type="checkbox" ng-model="selected_max_likes">
                        </span>

                    </p>
                </div>

                <div id="submit_result">
                    <input type="submit" value="Search" >
                </div>

            </div>

        </form>

    </div>


</div>


</body>

</html>














